<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body bgcolor="#54a7de">
    <div class="main-content">
        {{>header}}
        <p>
            This is created by Sai Manoj.This application makes use of data from mapbox.com and darksky.net.
            This tell us the current temperature of the given location.
        </p>
        <img class="portrait" src="/img/manu.jpg">
    </div>
    
    {{>footer}}
</body>

</html>